.heading {
    color: #409160;
    text-align: center;
    padding-top: 100px;
  }
  
   .class_image img {
    position: relative;
    height: 300px;
    width: 100%;
    border-radius: 10px;
  } 
  
  .single_tile {
    background: #BDE8E3;
    // margin:20px 10px;
    border-radius: 10px;
  } 
  .bookforfree {
    padding: 10px 0 20px 0;
    
  }
  
  .class-caption h5 {
    background:#BDE8E3;
    color: gray;
    margin: 0px;
    
  }
  .age span {background:#BDE8E3;
  
  }
  .age{
    background:#BDE8E3;
  }
  .date span {background:#BDE8E3;
     
  }
  .date {
    background:#BDE8E3;
  }
  .bookforfree{background: #BDE8E3;
  
  }
  .shareclass {
     width: 100%;
     height: 150px;
     background:#99ffe6;
     text-align: center;
     font-size: 30px; 
  
  }
  
  .shareclass span {
    background:#99ffe6;
    z-index:-1;
    
    
  }
  .img-icon {
    position: relative;
    width: 50px;
    height: 50px;
    padding: 10px;
    background: #99ffe6;
    
  }
  .icon {
    background: #99ffe6;
  
  }
  .create {
    background: #99ffe6; 
    
    width: 145px;
    height: 145px;
  }
  