
// .free-class-section:nth-child(2){
//     margin:0 12px !important;
// }

.box-free-class{
    height:500px;
    max-width:410px ;
    border-radius:8px !important;
    // background: linear-gradient(180deg, #43AFEC 0%, #43AFEC 100%);
    background-color: var(--light-bg);
    margin-top:16px;
    // margin: 0 40px;
    z-index: 10000;
    padding:0 !important;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.box-free-class:hover{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.img-free-class{
    height:320px;
    width:100%;
    border-radius:8px 8px 0 0 !important;
    background-color: inherit;
}
.title-free-class{
    text-align:center;
    background-color:inherit;
    color:var(--text-dark-color);
    // font-weight: 500;
    font-weight: 400;
    
}
.time-free-class{
    background-color:inherit;
    text-align:center;
    color:var(--text-dark-color);
    font-weight: 200;

}