.navbar {
    color: var(--text-dark-color);
    background: var(--nav-bg-light);
    min-height: 64px;
    position: fixed !important;
    top: 0 !important;
    width: 100%;
    overflow: hidden;
    z-index: 1000000;
    .navbar-brand {
        color: var(--text-color);
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 28px;
        letter-spacing: -0.06em;
        text-decoration: none;
        text-transform: uppercase;
        padding: auto 25px;
        // margin-right:94px;
        .navbar-brand-sub {
            color: var(--text-color);
            background-color: inherit;
        }
    }
    .navbar-brand:hover {
        opacity: 0.8;
        cursor: pointer;
    }
}

.nav-item-container {
    background: var(--text-dark-bg);
    .nav-item {
       // background: var(--nav-bg-light);
        text-decoration: none;
        font-style: normal;
        font-size: 16px;
        font-weight: bold;
        display: flex;
        align-items: center;
        text-align: center;
        margin: 10px 10px;
        background-color: inherit;
        .links {
            color: var(--text-dark-color);
        }
        .links:hover {
            color: var(--text-dark-color);
            text-decoration: none;
        }
    }
}

.navbar-nav{
    background-color: transparent;
   
}

// login signup buttons
.nav-right {
    background-color: inherit;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.nav-buttons {
    background-color: var(--nav-bg-dark);
    // display: flex;
    // align-items: center;
    text-decoration: none;
    // flex-direction: row !important;
    .btn-sign-up {
        padding: 8px 16px;
        border-radius: 0;
        margin-left: 16px;
        font-weight: 600;
        color: var(--text-color);
        box-shadow: none;
        background-color: #82DDFC;
        margin-bottom: 0px !important;
    }

    .btn-login {
        background: #FB6CAB;
        padding: 8px 16px;
        margin: 0 20px 0 0px;
        font-weight: 600;
        color: var(--text-dark-color);
        border-radius: 0px;
    }
}

.hamburger-menu{
    display:none;
    background-color: var( --nav-bg-light);
    margin-right:12px;
    .fa-bars{
        background-color: var(--nav-bg-light);
        font-size:28px;
        padding:2px;
    }
    .fa-bars:hover{
        cursor: pointer;
        color:var(--secondary-accent);
        
    }
}

.mobile-menu{
    background-color: transparent;
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction: column;
    margin: 12px auto !important;
    
}
// .navbar {

//     color: var(--text-color);
//     background: var(--nav-bg-light);
//     height: 64px;
//
//     top: 0 !important;
//     width: 100%;
//     overflow: hidden;
//     z-index: 1000000;
//     .navbar-brand {

//         color: var(--text-color);
//         font-style: normal;
//         font-weight: bold;
//         font-size: 24px;
//         line-height: 28px;
//         letter-spacing: -0.06em;
//         text-decoration: none;
//         text-transform: uppercase;
//         padding: 0 25px;

//         .navbar-brand-sub {
//             color: var(--text-color);
//             background-color: inherit;
//         }

//     }
//     .navbar-brand:hover {
//         opacity: 0.8;
//         cursor: pointer;
//     }
//     .navbar-collapse {
//         background-color: transparent;
//         justify-content: center;
//     }
//     .navbar-nav {
//         padding: 8px 30px;
//         background-color: transparent;
//         // margin-left: 0px !important;
//         position: fixed;
//         .nav-left{
//             display: flex;
//             flex-direction: row;
//             background-color: inherit;
//             justify-content:flex-start !important;
//             .nav-item {
//                 text-decoration: none;
//                 font-style: normal;
//                 font-size: 16px;
//                 display: flex;
//                 align-items: center;
//                 text-align: center;
//                 margin: 10px 10px;
//                 background-color: inherit;
//                 .links {
//                     color: var(--site-bg);
//                 }
//                 .links:hover {
//                     color: var(--secondary-accent);
//                     text-decoration: none;
//                 }
//             }
//         }
//         .nav-right{
//             display: flex;
//             flex-direction: row;
//             background-color: inherit;
//             justify-content:center !important;

//             .nav-buttons {
//                 display:flex;
//                 align-items:center;
//                 text-decoration: none;
//                 .btn-sign-up {
//                     padding: 8px 16px;
//                     border-radius: 0;
//                     margin-left:16px;
//                     font-weight: 600;
//                     color: var(--text-color);
//                     box-shadow: none;

//                     margin-bottom:0px !important;
//                 }

//                 .btn-login {
//                     background: var(--secondary-accent);
//                     padding: 8px 16px;
//                     margin: 0 20px 0 15px;
//                     font-weight: 600;
//                     color: var(--text-dark-bg);
//                     box-shadow: none;
//                     box-shadow: 0px 3px 2px rgba(255, 103, 1, 0.5);
//                     border-radius: 12px;

//                 }
//             }
//         }

//     }
//     .navbar-toggler {
//         border: 2px solid black;
//         .navbar-toggler-icon {
//             color: black;
//             display: initial;
//             .fa-bars {
//                 background-color: transparent;
//             }
//         }
//     }
// }

// @media only screen and (max-width:990px) {
//     .links{
//         color:black !important;
//     }
// }
