.single-course {
    margin-top: 74px;
}

.rating-learners {
    background: #00ad7c;
    border-radius: 10px;
    max-width: 220px;

    height: 36px;
    .rating {
        color: var(--text-color);
        font-size: 24px;
    }
}
.rating-learners-comp{
    background: #00ad7c;
    border-radius: 10px;
    max-width: 10%;

    height: 36px;
    .rating {
        color: var(--text-color);
        font-size: 24px;
    }
}
.rating-learners > * {
    background-color: inherit;
}
.rating-learners-comp > * {
    background-color: inherit;
}
.rating-star-c {
    height: 34px;
    width: 34px;
}
.users {
    color: var(--text-color);
    font-size: 22px;
    text-transform: capitalize;
}
.single-course-img {
    height: 448px;
    max-height: 448px !important;
    img {
        height: 100%;
        width: 100%;
        border-radius: 10px;
    }
}

.single-course-col {
    background-color: var(--light-bg);
    border-radius: 10px !important;
}
.single-course-title {
    background-color: inherit;
    text-transform: capitalize;
}
.icons-course {
    height: 28px;
    width: 28px;
    margin-right: 6px;
    border-radius: 100%;
}
.icons-title {
    font-size: 16px;
    background-color: inherit;
    text-transform: capitalize;
}
.schedule-tile {
    margin: auto 12px !important;
    background-color: inherit;
    box-shadow: 0px 2px 4px rgba(45, 151, 100, 0.678) !important;
    border-radius: 10px !important;
    align-items: center !important;
    .img-icons2 {
        height: 36px;
        width: 36px;
    }
}
.schedule-tile > * {
    margin: 4px auto !important;
    justify-content: center;
}

.schedule-tile-text {
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 38px;
}

.accordion-right {
    background-color: var(--light-bg);
    border-radius: 10px !important;
}

.start-date {
    background-color: #00ad7c !important;
    border-radius: 10px !important;
    min-width: 210px;
    max-width:250px;
    &-text {
        color: var(--text-color);
    }
}

.certificate {
    max-height: 300px;
}

.enroll-btns {
    margin: auto 16px !important;
    padding: 8px 18px !important;
    font-size: 18px !important;
}

.course-price-container {
    background-color: #43afec;
    border-radius: 12px !important;
    color: var(--text-color);
    .course-price {
        background-color: inherit !important;
        margin: 0;
        font-size: 34px;
        padding: 12px 34px;
        // border-radius:10px !important;
    }
}

// our learners section
.our-learners-section {
    min-height: 250px;
    // margin: 94px 0;
    background-color: var(--light-bg);
    border-radius: 12px;
    color: var(--text-dark-color);
    margin-bottom: 24px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    &-tile {
        height: 100%;
    }
}
.learners-image {
    height: 184px !important;
    width: 184px !important;
    margin: 64px !important;
    border-radius: 100%;
}
.learner-description {
    font-size: 18px;
    padding: 16px 44px 0 0;
}

// similar course section styles

.tile {
    background-color: var(--light-bg);
    border-radius: 12px;
    color: var(--text-dark-color);
    margin-bottom: 24px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.tile:hover {
    cursor: pointer;
}
.slider-title {
    // text-transform: uppercase;
    background-color: inherit;
    text-align: center;
    margin: 10px auto;
    color: var(--heading-primary);
    font-size: 22px;
    color: rgb(33, 33, 33);
    margin-right: 12px;
    font-weight: 300;
}
.slider-image-course {
    border-radius: 8px 8px 0 0;
    height: 300px;
    max-width: 334px;
}
.share-it {
    background-color: #c7ede2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    
}
.cartoon-design{
    width:100vw;
    
}
.social-media-icons {
    background-color: #c7ede2;
    .fab {
        background-color: inherit;
        margin: 12px;
        font-size: 36px;
    }
    .fa-facebook {
        color: #1877f2;
    }
    .fa-twitter {
        color: #1da1f2;
    }

    .fa-instagram {
        color: #c32aa3;
    }
    .fa-whatsapp {
        color: #6ec451;
    }
}
